# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmam/aggregation-registry/webpack
/cmam
/target
/.idea
/spring_cloud_advanced/common/target
/spring_cloud_advanced/common/*.iml
/spring_cloud_advanced/config/*.iml
/spring_cloud_advanced/eureka/eureka_client/target
/spring_cloud_advanced/eureka/eureka_client/*.iml
/spring_cloud_advanced/eureka/eureka_server/target
/spring_cloud_advanced/config/config_client/*.iml
/spring_cloud_advanced/config/config_server/*.iml
/spring_cloud_advanced/eureka/eureka_client_service/*.iml
/spring_cloud_advanced/eureka/eureka_server/*.iml
/spring_cloud_advanced/feign/*.iml
/spring_cloud_advanced/feign/feign_client/target
/spring_cloud_advanced/feign/feign_client/*.iml
/spring_cloud_advanced/feign/feign_service/target
/spring_cloud_advanced/feign/feign_service/*.iml
/spring_cloud_advanced/gateway/*.iml
/spring_cloud_advanced/gateway/gateway_server/target
/spring_cloud_advanced/gateway/gateway_server/*.iml
/spring_cloud_advanced/gateway/gateway_user/*.iml
/spring_cloud_advanced/gateway/gateway_user/target
/spring_cloud_advanced/hystrix/target
/spring_cloud_advanced/hystrix/hystrix.iml
/spring_cloud_advanced/ribbon/*.xml
/spring_cloud_advanced/ribbon/*.iml
/spring_cloud_advanced/ribbon/ribbon_client/*.iml
/spring_cloud_advanced/ribbon/ribbon_client/target
/spring_cloud_advanced/ribbon/ribbon_server/*.iml
/spring_cloud_advanced/ribbon/ribbon_server/target
/spring_cloud_advanced/ribbon/ribbon_server2/*.iml
/spring_cloud_advanced/ribbon/ribbon_server2/target
/spring_cloud_advanced/eureka/eureka_client_service/target
